<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- List of permissions that the app will have access to. On first initialisation, the application will ask the user to confirm permission to access these. -->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACTION_OPEN_DOCUMENT" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"><!--Ignoring index warning for now, I'll fix this later-->

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6486258628588307~4051321968" />

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <!--Notes splash screen is the launcher screen-->
        <activity
            android:name="com.stevecrossin.whatcanicook.other.SplashScreenInit"
            android:theme="@style/AppTheme.SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.stevecrossin.whatcanicook.screens.MainActivity"
            android:label="@string/main_menu_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.stevecrossin.whatcanicook.screens.CategoryPicker"
            android:label="Choose Categories"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.stevecrossin.whatcanicook.screens.Intolerances"
            android:label="@string/dietary_needs"
            android:parentActivityName="com.stevecrossin.whatcanicook.screens.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.stevecrossin.whatcanicook.screens.About"
            android:label="@string/about"
            android:parentActivityName="com.stevecrossin.whatcanicook.screens.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.stevecrossin.whatcanicook.screens.Logs"
            android:label="Currently in Pantry"
            android:parentActivityName="com.stevecrossin.whatcanicook.screens.About"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.stevecrossin.whatcanicook.screens.Pantry"
            android:label="Currently in Pantry"
            android:parentActivityName="com.stevecrossin.whatcanicook.screens.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.stevecrossin.whatcanicook.screens.SavedRecipes"
            android:label="Saved Recipes"
            android:parentActivityName="com.stevecrossin.whatcanicook.screens.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.stevecrossin.whatcanicook.screens.IngredientPicker" />
        <activity android:name="com.stevecrossin.whatcanicook.screens.MyIngredients" />
        <activity android:name="com.stevecrossin.whatcanicook.screens.Recipes" />
        <activity android:name="com.stevecrossin.whatcanicook.screens.Login" />
        <activity android:name="com.stevecrossin.whatcanicook.screens.RecipesDetails" />
        <activity android:name="com.stevecrossin.whatcanicook.screens.CustomRecipe" />

    </application>

</manifest>